@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="section " id="section0">
    <div class="intro">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-xs-12 text-left">
                <h1>ManagerDW</h1>
                <span class="ml-0 pl-0 lead pt-5 pb-5" style="font-size:25px;line-height:35px;">
                    Отслеживайте процесс разработки вашего проекта в любое время и с любого устройства
                </span><br />

                <a href="~/Account/Login" class="btn btn-primary mt-3">Войти в личный кабинет</a>
            </div>

            

        </div>
       </div>
    </div>
</div>

<div class="section" id="section2">
    <div class="intro">

        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-xs-12 text-left">
                    <h2 class="font-weight-bold">Разработка сайтов</h2>
                    <span class="ml-0 pl-0 lead pt-5 pb-5" style="font-size:20px;line-height:35px;">
                        В современном мире Интернет играет важную роль в продвижении своего бизнеса и товаров по всему миру. Каждой компании независимо от ее размера, необходимо разработать сайт..
                    </span><br />

                    <a href="https://digitalwolf.org/web" target="_blank" class="btn btn-primary mt-3">Подробнее</a>
                    <a href="https://digitalwolf.org/web/#myorder" target="_blank" class="btn btn-danger mt-3">Заказать</a>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 text-left">
                    <h2 class="font-weight-bold">Разработка веб-приложений</h2>
                    <span class="ml-0 pl-0 lead pt-5 pb-5" style="font-size:20px;line-height:35px;">
                        Задавали вы себе вопрос: Насколько будет выгодна и полезна разработка собственного программного обеспечения для бизнеса? Если да, то скорей всего Ваш бизнес уже расширяется и необходимы...
                    </span><br />

                    <a href="https://digitalwolf.org/software" target="_blank" class="btn btn-primary mt-3">Подробнее</a>
                    <a href="https://digitalwolf.org/software/#myorder" target="_blank" class="btn btn-danger mt-3">Заказать</a>
                </div>

            </div>
        </div>


    </div>
</div>