@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="section " id="section0">
    <div class="intro">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-xs-12 text-left">
                <h1>ManagerDW</h1>
                <span class="ml-0 pl-0 lead pt-5 pb-5" style="font-size:25px;line-height:35px;">
                    Отслеживайте процесс разработки вашего проекта в любое время и с любого устройства
                </span><br />

                <a href="~/Account/Login" class="btn btn-primary mt-3">Войти в личный кабинет</a>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-12 text-left">
               
            </div>

        </div>
       </div>
    </div>
</div>

<div class="section" id="section2">
    <div class="intro">
        <h1>Enjoy it</h1>
    </div>
</div>